.page {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  font-weight: var(--weight-400);
  background-color: var(--bg-color);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: var(--page-padding);
  right: var(--page-padding);
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.header__decorative-inscription {
  position: absolute;
  top: calc(1px + var(--page-padding, 10px));
  right: calc(28px + var(--page-padding, 10px));
  color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  text-transform: uppercase;
}

.header__decorative-inscription::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  block-size: 9px;
  aspect-ratio: 1;
  background-color: var(--accent-color, rgb(255 0 112));
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgb(255 0 112));
}

.header {
  position: relative;
  padding: var(--page-padding);
  block-size: 100vh;
  min-block-size: min-content;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  place-self: center end;
  padding-block: 30px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2px 13px 4px;
  border: 1px transparent solid;
  background-color: transparent;
  color: var(--button-color);
  font-size: inherit;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
  display: flex;
  justify-self: center;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.header__text-paragraph {
  font-weight: 700;
}

.content {
  padding: 0 var(--page-padding);
  margin-block: var(--content-margin-block);
  color: var(--main-font-color);
  line-height: var(--line-height);
}

.content__section:not(:last-child) {
  margin-block-end: var(--content__section-margin);
}

.content__section-title {
  color: var(--content__section-title-color);
  margin-block-end: 20px;
}

.content__section-list-item:not(:last-child) {
  margin-block-end: 20px;
}

.content__section-list-item-title {
  margin-block-end: 10px;
  font-size: var(--main-font-size, 1.125rem);
  line-height: var(--main-line-height);
}

.content__section-article-title {
  margin-block-end: 20px;
}

.content__section-text:not(:last-child) {
  margin-block-end: 10px;
}

.no-bold-font {
  font-weight: var(--weight-400);
}

.content__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 1.5px 0 var(--accent-color, rgb(255 0 112));
}

.content__link:hover {
  border-bottom: 1px solid var(--main-font-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--main-font-color);
}

.content__images-title {
  margin-block-end: var(--page-padding);
}

.content__images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__images-wrapper img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__section-list-item:has(.content__images-wrapper) {
  margin-block-start: 50px;
}

.footer {
  position: relative;
  padding: var(--page-padding);
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    padding-left: 0;
  }

  .header__text {
    justify-self: end;
    width: calc((100% - var(--page-padding)) / 2);
  }

  .content__section:nth-child(odd):not(.content__section-images) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }

  .content__section-title {
    width: 236px;
  }

  .content__section-list {
    grid-column: 2;
  }

  .content__images-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .content__images-wrapper img:nth-child(1) {
    grid-column: 1 / 3;
  }

  .content__images-wrapper img:nth-child(2) {
    grid-column: 3;
    grid-row: -4 / -2;
  }

  .content__images-wrapper img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__images-wrapper img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__images-wrapper img:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    place-self: start center;
    padding-inline-start: var(--page-padding);
    padding-block: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section-title {
    width: 315px;
  }

  .content__section:nth-child(even) .content__section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}