.page {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--line-height);
  font-weight: var(--weight-400);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  right: var(--page-padding);
  top: var(--page-padding);
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  bottom: var(--page-padding);
  left: var(--page-padding);
}

.header__decorative-inscription {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23.4px;
  right: calc(28px + var(--page-padding, 10px));
  top: calc(1px + var(--page-padding, 10px));
}

.header__decorative-inscription::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 7px;
  background-color: var(--accent-color, rgb(255 0 112));
  block-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgb(255 0 112));
}

.header {
  padding: var(--page-padding);
  display: grid;
  block-size: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: min-content;
}

.header__theme-menu {
  place-self: center end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--button-color); 
  line-height: 18px;
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  display: flex;
  justify-self: center;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.title {
  color: var(--title-color);
  font-size: var(--title-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.header__text-paragraph {
  font-weight: 700;
}

.content {
  padding: 0 var(--page-padding);
  margin-block: var(--content-margin-block);
  color: var(--main-font-color);
}

.content__section:not(:last-child) {
  margin-block-end: var(--content__section-margin);
}

.content__section-title {
  color: var(--content__section-title-color);
  margin-block-end: 20px;
}

.content__section-list-item:not(:last-child) {
  margin-block-end: 20px;
}

.content__link {
  text-shadow: 2px 1.5px 0 var(--accent-color, rgb(255 0 112));
  text-decoration: none;
}

.content__link:hover {
  border-bottom: 1px var(--main-font-color) solid;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px var(--main-font-color) solid;
}

.content__section-article-title {
  margin-block-end: 20px;
}

.no-bold-font {
  font-weight: var(--weight-400);
}

.content__images-title {
  margin-block-end: var(--page-padding);
}

.content__images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--page-padding);
}

.content__images-wrapper img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  align-items: center;
  padding: var(--page-padding);
  text-align: center;
}

@media (min-width: 768px) {
  .header__text {
    justify-self: end;
    width: calc((100% - var(--page-padding)) / 2);
  }
  
  .content__section:nth-child(odd):not(.content__section-images) {
    display: grid;
    grid-template-columns: calc((100% - var(--page-padding)) / 3) 1fr;
    gap: 20px;
  }
  
  .content__images-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  
  .content__images-wrapper img:nth-child(1) {
    grid-column: 1/3;
  }
  
  .content__images-wrapper img:nth-child(2) {
    grid-column: 3;
    grid-row: -4/-2;
  }
  
  .content__images-wrapper img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }
  
  .content__images-wrapper img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  
  .content__images-wrapper img:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    place-self: start center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .content__section:nth-child(even) .content__section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}