:root {
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --main-font-color: #F1B2CE;
  --title-shadow: #FF0070;
  --page-padding: 10px;
  --main-font-size: 18px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --weight-400: 400;
  --weight-700: 700;
  --line-height: 23.4px;
  --content-margin-block: 40px;
  --content__section-margin: 50px;
  --main-font: "IBM Plex mono";
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --content__section-title-color: rgb(255 0 112);
  --button-color: #FF0070;
  --decor-color: #FF0070;
}
@media (min-width: 768px){
  :root {
    --page-padding: 20px;
    --content-margin-block: 60px;
    --content__section-margin: 80px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
